**/build/
**/out/
.gradle/
!gradle/wrapper/**
!gradle/wrapper/gradle-wrapper.jar
*.log
.idea/
*.iml
.vscode/
.project
.classpath
.settings/
.DS_Store
Thumbs.db
*.exe
*.jar
*.msi
launch4j/**/build/
launch4j/**/tmp/
/runtime/
/jre/
/dist/
/release/
/Physics2DSandBox.exe
*.dll
*.so
*.dylib
*.save
*.tmp
